extends _layouts/company.pug

block content
  +b.page-wr
    include _partials/header/header--inner-pages
    +b.content
      include _partials/company-section/company-section
    include _partials/order-form/order-form
    include _partials/footer/footer