extends _layouts/contacts.pug

block content
  +b.page-wr
    include _partials/header/header--inner-pages
    +b.content
      include _partials/contacts-section/contacts-section
    include _partials/order-form/order-form
    include _partials/footer/footer