extends _layouts/portfolio-item.pug

block content
  +b.page-wr
    include _partials/header/header--inner-pages
    +b.content
      include _partials/portfolio-item/portfolio-item
    include _partials/order-form/order-form
    include _partials/footer/footer