+b.portfolio-list#portfolio-section
  +e.item
    +b.item__text-col
      +e('h3').title Scaler

      +e.text
        p Scaler - быстрый и простой запуск службы для возвращения посетителей на ваш сайт. Посетители вашего сайта будут видеть объявления ваших продуктов на миллионах популярных онлайн-ресурсов.

      +e('ul').tags
        +b.tags__item Проектирование
        +b.tags__item Дизайн
        +b.tags__item Фронт-энд разработка
        +b.tags__item Программирование
        +b.tags__item Поддержка

    +b.item__pic-col(style="background-image: url(./assets/images/pics/scaler-demo.png);")
      a(href="#")
         
  +e.item
    +b.item__text-col
      +e('h3').title ASN
      
      +e.text
        p Scaler - быстрый и простой запуск службы для возвращения посетителей на ваш сайт. Посетители вашего сайта будут видеть объявления ваших продуктов на миллионах популярных онлайн-ресурсов.

      +e('ul').tags
        +b.tags__item Проектирование
        +b.tags__item Дизайн
        +b.tags__item Фронт-энд разработка

    +b.item__pic-col(style="background-image: url(./assets/images/pics/asn-demo.png);")
      a(href="#")

  +e.item
    +b.item__text-col
      +e('h3').title Holiday
      
      +e.text
        p Scaler - быстрый и простой запуск службы для возвращения посетителей на ваш сайт. Посетители вашего сайта будут видеть объявления ваших продуктов на миллионах популярных онлайн-ресурсов.

      +e('ul').tags
        +b.tags__item Проектирование
        +b.tags__item Дизайн
        +b.tags__item Фронт-энд разработка
        +b.tags__item Поддержка

    +b.item__pic-col(style="background-image: url(./assets/images/pics/holiday-demo.png);")
      a(href="#")

  +e.item
    +b.item__text-col
      +e('h3').title Nescafe
      
      +e.text
        p Scaler - быстрый и простой запуск службы для возвращения посетителей на ваш сайт. Посетители вашего сайта будут видеть объявления ваших продуктов на миллионах популярных онлайн-ресурсов.

      +e('ul').tags
        +b.tags__item Проектирование
        +b.tags__item Дизайн
        +b.tags__item Фронт-энд разработка
        +b.tags__item Программирование  

    +b.item__pic-col(style="background-image: url(./assets/images/pics/nescafe-demo.png);")
      a(href="#")

