+b.footer
  +e.inner
    +e.copyright © 2009-2017, HELLOWORLD
    +e.nav
      +e('ul').list
        +e.list-item
          a(href="#") Компания
        +e.list-item
          a(href="#") Проекты
        +e.list-item
          a(href="#") Контакты
    
    +e.social-list
      +e('a')(href="#").social-item.twitter
      +e('a')(href="#").social-item.fb

