+b('section').company-section
  +b.text-inner-wr
    +b.intro-text
      +b('b').text-bold
        +b('span').color-red Больше восьми лет 
        | занимаемся разработкой, поддержкой и развитием интернет-проектов.
      +b('p').article-text Предпочитаем длительную вдумчивую работу над проектами, в которых новые решения воплощаются итерационно. Любим работать над корпоративными системами, амбициозными стартапами, нестандартными интерфейсными решениями и не стоящими на месте ecommerce проектами.

    +b('article').article
      +e('h2').title Проектирование
      +e.sub-title Sketch, Axure RP, Figma
      +e.body
        +b('p').article-text К нам обращаются, потому что хотят, чтобы их проекты сверстали профессионалы. Для pixel perfect верстки используем: HTML5, CSS3, SCSS/SASS/LESS, Bootstrap (и другие фреймворки). Делаем responsive / adaptive веб-сайты. Умеем интегрировать шаблоны с PHP и Ruby фреймворками. Javascript: Angular JS, Ext JS, jQuery.

    +b('article').article
      +e('h2').title Дизайн
      +e.sub-title Sketch, Photoshop, Figma
      +e.body
        +b('p').article-text Программируем на PHP5. В зависимости от масштабов, жизненного цикла проекта  и имплементированных бизнес-процессов мы используем Symfony 2, «Битрикс» или свою систему управления.

    +b('article').article
      +e('h2').title Фронт-энд
      +e.sub-title HTML5, CSS3, SCSS/SASS/LESS, Bootstrap. Responsive / adaptive. PHP и Ruby. Javascript: Angular JS, Ext JS, jQuery.
      +e.body
        +b('p').article-text К нам обращаются, потому что хотят, чтобы их проекты сверстали профессионалы. Для pixel perfect верстки используем: HTML5, CSS3, SCSS/SASS/LESS, Bootstrap (и другие фреймворки). Делаем responsive / adaptive веб-сайты. Умеем интегрировать шаблоны с PHP и Ruby фреймворками. Javascript: Angular JS, Ext JS, jQuery.

    +b('article').article
      +e('h2').title Бэк-энд
      +e.sub-title PHP5. Symfony 2, «Битрикс»
      +e.body
        +b('p').article-text Программируем на PHP5. В зависимости от масштабов, жизненного цикла проекта и имплементированных бизнес-процессов мы используем Symfony 2, «Битрикс» или свою систему управления.

    +b('article').article
      +e('h2').title Поддержка
      +e.body
        +b('p').article-text Многие из разработанных нами проектов постоянно развиваются и эволюционируют. Поддержка таких проектов включает в себя не только полное техническое сопровождение, но и их поэтапное развитие.