+b('header').header
  +e.logo
    a(href="#")
  +e.nav
    +e.mobile-btn
      +b.inner
        span
        span
        span
    +e('ul').list
      +e.item
        a(href="#") Компания
      +e.item
        a(href="#") Проекты
      +e.item
        a(href="#") Контакты
      +e.item.btn
        a(href="#") Отправить запрос